:root {
    --body-font: Arial, Hevetica, sans-serif;
    --primary-color: orange;
    --text-color: #000000;
    --border-color: #ccc;
    --white-color: #ffffff;
    --section-bg: #f7f7f7;

}

/* Universal selector and declaration for all elements */
/* for better understanding i will divide this css into weeks so i don't get confused */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--text-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--white-color);
    padding: 16px;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
}

/* end of week 1 */