:root {
    --body-font: Arial, Hevetica, sans-serif;
    --primary-color: orange;
    --text-color: #000000;
    --border-color: #ccc;
    --white-color: #ffffff;

}

/* Universal selector and declaration for all elements */
/* for better understanding i will divide this css into weeks so i don't get confused, below */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
    column-gap: 1rem;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    align-items: center;
    padding-bottom: 0%;
    background-color: var(--primary-color);
    border-radius: 6px;

}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}

header nav a {
    color: var(--text-color);
    font-weight: 600;
}

.logo {
    max-height: 80px;
    width: auto;
}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--text-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--white-color);
    padding: 16px;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
}

/* end of week 1 */

/* start of week 2 assignment */

.history {
    margin: 20px;
    padding: 0px;
    border: 1px solid var(--border-color);
}

.history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.5rem;
    align-items: center;
}

.history img {
    width: 200px;
    height: auto;
    display: block;
    border-radius: 4px;
}

.adventure {
    margin: 20px;
    padding: 0px;
    border: 1px solid var(--border-color);
    ;
}

.adventure h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: start;
}

.adventure-gallery figure {
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 2px solid var(--border-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0%;
    background-color: var(--primary-color);
    border-radius: 6px;
}

footer .socialmedia img {
    width: 30px;
    height: 30px;
    object-fit: contain;

}

/* End of week 2 assignment, everything is working fine */

/* Here we begin week 6 specifically for index.html */

form {
    max-width: 1000px;
    border: 2px solid var(--border-color);
    padding: 30px;
    border-radius: 5px;
    display: grid;
    gap: 5px;

}

input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid grey;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;

}

button:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

/* This is the end of the index.html section */

/* This is the beginning of the trips.html section */

.contact-us {
    text-align: center;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 6px;

}

.trip-descriptions h2 {
    text-align: center;
}

.trip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--border-color);
    gap: 2rem;
    margin: 2rem 0;
}

.trip-card {
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 6px;
}

.trip-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.trip-card h3 {
    margin: 0.5rem 0;
}

/* all about the trip-table design */

.trip-table {
    margin: 2rem 0;
    padding: 1rem;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
}

.trip-table h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

.trip-table th {
    background-color: var(--border-color);
    color: var(--text-color);
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.trip-table td {
    padding: 10px 12px;
    border-bottom: 1px solid var(--border-color);
}

.trip-table tbody tr:hover {
    background-color: #ffeccc;
    transition: background-color 0.2s ease;
}

/* this is the end of trip.html design */

/* this is trhe start and begining of conatct.html desisn */

.locate-us {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--border-color);
    gap: 2rem;
    margin: 2rem 0;
    border-radius: 6px;

}

.contact-form {
    max-width: 1000px;

    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.radio {
    border-color: green;
}

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 2rem;
    margin: 2rem 0;

}

.team {
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.team-card img {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    width: 100%;
}

fieldset {
    text-align: center;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}