:root {
    --body-font: Arial, Hevetica, sans-serif;
    --primary-color: orange;
    --text-color: #000000;
    --border-color: #ccc;
    --white-color: #ffffff;
    --section-bg: #f7f7f7;

}

/* Universal selector and declaration for all elements */
/* for better understanding i will divide this css into weeks so i don't get confused, below */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header,
main,
footer {
    width: auto;
    margin: 0 auto;
    column-gap: 1rem;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    align-items: center;
    padding-bottom: 0%;
    background-color: var(--primary-color);

}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}

header nav a {
    color: var(--text-color);
    font-weight: 600;
}

.logo {
    max-height: 80px;
    width: auto;
}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--text-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--white-color);
    padding: 16px;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
}

/* end of week 1 */

/* start of week 2 assignment */

.history {
    margin: 20px;
    padding: 0px;
    border: 1px solid var(--border-color);
}

.history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.5rem;
    align-items: center;
}

.history img {
    width: 200px;
    height: auto;
    display: block;
    border-radius: 4px;
}

.adventure {
    margin: 20px;
    padding: 0px;
    border: 1px solid var(--border-color);
    ;
}

.adventure h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: start;
}

.adventure-gallery figure {
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 2px solid var(--border-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    width: auto;
    padding-bottom: 0%;
    background-color: var(--primary-color);
}

footer .socialmedia img {
    width: 30px;
    height: 30px;
    object-fit: contain;

}

/* footer .socialmedia img {
    width: 24px;
    height: 24px;
    display: block;